name: Linting and Testing

on:
  pull_request:
    branches:
      - master

jobs:
  lintesting:
    name: Linting & Testing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install the project
        run: |
          pip install --upgrade pip
          pip install ruff mypy
          uv sync --locked --all-extras --dev

      - name: Run Linter
        run: |
          make lint

      - name: Run tests
        run: |
          make test
